In [2]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
from matplotlib import cm

In [3]:
#Read data 
data =pd.read_csv("bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")

In [5]:
#Cleaning data
data = data.dropna()
data['Timestamp'] = pd.to_datetime(data['Timestamp'],unit='s')
data.head(10)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,2011-12-31 15:50:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,2011-12-31 16:59:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,2011-12-31 17:00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,2012-01-01 04:16:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
1896,2012-01-01 15:28:00,4.84,4.84,4.84,4.84,10.000000,48.400000,4.840000
2333,2012-01-01 22:45:00,5.00,5.00,5.00,5.00,10.100000,50.500000,5.000000
3612,2012-01-02 20:04:00,5.00,5.00,5.00,5.00,19.048000,95.240000,5.000000
4553,2012-01-03 11:45:00,5.32,5.32,5.32,5.32,2.419173,12.870000,5.320000
4710,2012-01-03 14:22:00,5.14,5.14,5.14,5.14,0.680000,3.495200,5.140000

In [8]:
#Loading the data
data2 = data.set_index('Timestamp')
#data2 = data.resample('MS').mean()

data2.head(10)

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-31 15:50:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
2011-12-31 16:59:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
2011-12-31 17:00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
2012-01-01 04:16:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
2012-01-01 15:28:00,4.84,4.84,4.84,4.84,10.000000,48.400000,4.840000
2012-01-01 22:45:00,5.00,5.00,5.00,5.00,10.100000,50.500000,5.000000
2012-01-02 20:04:00,5.00,5.00,5.00,5.00,19.048000,95.240000,5.000000
2012-01-03 11:45:00,5.32,5.32,5.32,5.32,2.419173,12.870000,5.320000
2012-01-03 14:22:00,5.14,5.14,5.14,5.14,0.680000,3.495200,5.140000